@model SchoolManagementApp.MVC.Models.ClassEnrollmentViewModel

@{
    ViewData["Title"] = "Manage Enrollments";
}

<h2>Manage Enrollments for @Model.SchoolClass.Time Session of @Model.SchoolClass.Course.Code - @Model.SchoolClass.Course.CourseName</h2>
<h3>Instructor: @Model.SchoolClass.Lecture.FirstName @Model.SchoolClass.Lecture.LastName</h3>

<hr />
<h3>Students List</h3>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
                <tr>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>
                    @* @if (student.isEnrolled)
                    {
                        <button data-studentId="@student.Id" data-shouldEnroll="false" class="btn btn-danger enrollmentBtn" type="button">Remove</button>
                    }
                    else
                    {
                        <button data-studentId="@student.Id" data-shouldEnroll="true" class="btn btn-success enrollmentBtn" type="button">Add</button>
                    } *@

                    @{
                        var btnText = student.isEnrolled ? "remove" : "Add";
                        var btnClass = student.isEnrolled ? "danger" : "success";
                        bool shouldEnroll = !student.isEnrolled;
                    }
                        <button data-studentId="@student.Id" data-shouldEnroll="@shouldEnroll" class="btn btn-@btnClass enrollmentBtn" type="button">@btnText</button>
                    </td>
                </tr>
        }
    </tbody>
</table>

<form asp-action="EnrollStudent" id="ClassEnrollmentForm">
    <input type="hidden" id="classId" name="ClassId" value="@Model.SchoolClass.Id"></input>
    <input type="hidden" id="studentId" name="StudentId"></input>
    <input type="hidden" id="shouldEnroll" name="ShouldEnroll"></input>
</form>

@section Scripts{
    <script>

    $(function () {
        $('.table').DataTable();
        $('.enrollmentBtn').click(function (e) {
            swal({
                title: "Are you sure?",
                text: "Please confirm this action",
                icon: "warning",
                buttons: ["Cancel", "OK"]
            }).then((isConfirmed) => {
                if (isConfirmed) {
                    var btn = $(this);
                    var studentId = btn.attr("data-studentId");
                    var shouldEnroll = btn.attr("data-shouldEnroll");
                    $('#studentId').val(studentId);
                    $('#shouldEnroll').val(shouldEnroll);
                    $('#ClassEnrollmentForm').submit();
                }
            });
        });
    });

    </script>
}